body {
    background-color: #343fa3;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: flex-start;  /* Align elements to the top */
    flex-direction: column;
    position: relative;  /* Make body the reference for absolute positioning */
    cursor: url('../static/images/arrow.cur'), auto;
}

/* Center the image without resizing */
#logoImage {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: auto;
    pointer-events: none;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.25));
}

/* Music Button Style */
#playPauseButton {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /*color: white;*/
    /*font-size: 10px;*/
    /*padding: 0px;*/
    /*filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.3));*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

/* Image inside button */
#playPauseButton img {
    width: 75%;
    height: auto;
    /*filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.3));*/
    /*margin-bottom: 6px;*/
}

/* App Button Style */
#applicationsButton {
    position: absolute;
    top: 75px;
    left: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 10px;
    background-color: transparent;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image inside button */
#applicationsButton img {
    width: 60%;
    height: auto;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.3));
    margin-bottom: 6px;
}

#toggleButton {
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: -1px; /* has to be set to -1 or it doesnt line up*/
    left: 10px;
    border: none;
    cursor: pointer;
    background: #C5C5C5 linear-gradient(to top, #C5C5C5 98%, #ffffff 2%);
}

.bottom-bar {
    height: 35px;
    width: 100%;
    background: linear-gradient(to top, #C5C5C5 98%, #ffffff 2%);
    display: flex;
    transition: height 0.3s ease;
}

.bottom-bar.hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
}




