/* Button Style */
#playPauseButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2));
}

/* Image inside button */
#playPauseButton img {
    width: 30px;
    height: auto;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.2));
}

/* Center the image */
#logoImage {
    position: absolute;
    top: 25%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center the logo horizontally */
    max-width: 250px;
    max-height: 250px;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.25));
}

