<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vic OS X - vtaylor.dev</title>
    <link rel="shortcut icon" href="static/images/OSX10Favi.ico">
    <link rel="stylesheet" href="css/vicos.css">
    <link rel="stylesheet" href="css/snow.css">
</head>

<body>

    <div class="snowflakes"></div>

    <div id="logoBox" class="horizontalLines center">
        <img id="logoImage" src="static/images/VicOSX.png" alt="Vic OS logo">
    </div>

    <div id="menu-bar" class="horizontalLines">
        <button id="playPauseButton">
            <img src="static/images/audioOff.png" alt="Play/Pause">
        </button>
    </div>

    <div id="dock" class="horizontalLines" >
        <button id="finderButton" >
            <img src="static/images/icons/finder.png" alt="Finder icon" >  <!-- Need to find higher quality icon -->
        </button>
    </div>



    <!-- Audio Element -->
    <audio id="audio" src="static/audio/luma 8 bit.mp3" loop></audio>

    <!-- JS Elements -->
    <script src="javascript/audioControl.js"></script>
    <script src="javascript/snow.js"></script>

</body>
</html>
