<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria Taylor</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <style>
        body {
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Under Construction</h1>
        <p class="lead">We are working on something awesome. Stay tuned!</p>
    </div>
</div>

<script src="static/js/bootstrap.js"></script>
</body>
</html>
