<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria Taylor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script type="text/javascript" src="javascript/burger-menu.js"></script>
    <style>
        html {
            border: 15px solid palevioletred;
        }
        body {
            min-height: 100vh;
            margin: 0;
            padding: 0;
        }
        .navbar{
            padding: 10px;

        }
        .is-main-colour{
            color: palevioletred;
        }
    </style>

</head>



<section>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbar_brand" class="navbar-brand">
            <a class="navbar-item is-main-colour"><b>Victoria Taylor</b></a>
            <a role="button" class="navbar-burger is-main-colour" data-target="navbar_end" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbar_end" class="navbar-menu">
            <div class="navbar-end">
                <a href="" class="navbar-item is-main-colour">
                    About
                </a>
                <a href="" class="navbar-item is-main-colour">
                    Blog
                </a>
                <a href="" class="navbar-item is-main-colour">
                    Contact
                </a>
            </div>
        </div>
    </nav>
</section>

</html>
